{
  "endOfLine": "lf",
  "semi": false,
  "singleQuote": false,
  "tabWidth": 2,
  "trailingComma": "es5",
  "printWidth": 80,
  "plugins": [
    "prettier-plugin-tailwindcss",
    "prettier-plugin-classnames",
    "prettier-plugin-merge"
  ],
  "tailwindStylesheet": "src/index.css",
  "tailwindFunctions": ["cn", "cva"],
  "customFunctions": ["cn", "cva"]
}
